<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="ONLINE_AUDIT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/online-audit.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/online-audit.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>31</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="online-audit" level="INFO" additivity="false">
        <appender-ref ref="ONLINE_AUDIT_FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
